//CSS Shopping Cart Page
.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .cart-wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 20px;

        .cart-info-product {
            display: flex;
            flex-direction: column;
            width: 80%;

            .cart-info-container {
                display: flex;
                flex-direction: column;
                border: 1px solid var(--border-color);
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;

                .cart-outner-title {
                    width: 100%;
                    border-bottom: 1px solid var(--border-color);

                    .cart-title {
                        display: flex;
                        width: 100%;
                        justify-content: space-around;
                        align-items: center;
                        height: 30px;
                        margin: 10px 0;

                        .cart-title-1 {
                            width: 20%;
                            text-align: center;
                        }
                        .cart-title-2 {
                            width: 20%;
                            text-align: center;
                        }
                        .cart-title-3 {
                            width: 20%;
                            text-align: center;
                        }

                        .cart-title-4 {
                            width: 20%;
                            text-align: center;
                        }

                        .cart-title-5 {
                            width: 20%;
                            text-align: center;
                        }
                        .cart-title-6 {
                            width: 20%;
                            text-align: center;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .cart-option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid var(--border-color);
                padding: 15px 0;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                margin-bottom: 10px;
            }

            .cart-transport-normal {
                display: flex;
                align-items: center;
                height: 60px;
                background-color: #ccf0d1;
                border-radius: 7px;
                margin: 5px 0;
                padding: 15px;
                transition: background-color 0.3s liner;
                &:hover {
                    cursor: pointer;
                    filter: brightness(105%);
                }

                .truck-icon {
                    color: #00b517;
                    margin-right: 10px;
                }

                .cart-transport-text {
                    color: #149680;
                }
            }
            .cart-transport-fast {
                background-color: #82d2f3;
                transition: background-color 0.3s liner;
                &:hover {
                    cursor: pointer;
                    filter: brightness(105%);
                }

                .truck-icon {
                    color: #1f9bcf;
                    margin-right: 10px;
                }

                .cart-transport-text {
                    color: #25768f;
                }

                .cart-transport-check {
                    display: flex;
                    width: 74%;
                    justify-content: end;
                }
            }
        }

        .cart-info-pay {
            width: 20%;
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            gap: 20px;

            .cart-coupon,
            .cart-bill {
                display: flex;
                flex-direction: column;
                padding: 25px 15px 25px;
                border: 1px solid var(--border-color);
                border-radius: 7px;

                .cart-coupon-input {
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    height: 40px;
                    outline: none;
                    border: 1px solid var(--border-color);
                    border-right: none;
                    margin-top: 10px;
                    padding-left: 10px;
                    width: 75%;
                    &::placeholder {
                        font-size: 1.5rem;
                    }
                    &:focus::placeholder {
                        color: transparent;
                    }
                }

                .cart-coupon-btn {
                    background-color: #3167eb;
                    color: var(--white-color);

                    height: 40px;
                    border: none;
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                    transition: background-color 0.3s liner;
                    width: 25%;
                    &:hover {
                        cursor: pointer;
                        background-color: #3167eb;
                        filter: brightness(130%);
                    }
                }
            }

            .cart-bill {
                padding: 25px 15px 10px;

                .cart-bill-outner {
                    border-bottom: 1px solid var(--border-color);
                    padding-bottom: 10px;
                    h4 {
                        margin: 4px 0 12px;
                    }
                    .cart-bill-detail {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        .cart-bill-unit {
                            margin-left: 5px;
                        }
                        label {
                            input {
                                margin-right: 4px;
                            }
                        }
                    }

                    .cart-bill-outner-btn {
                        display: flex;
                        justify-content: end;
                        width: 100%;
                        margin: 15px 0 5px;

                        .cart-bill-btn {
                            background-color: #3167eb;
                            color: var(--white-color);
                            width: 100%;
                            height: 40px;
                            border: none;
                            border-radius: 7px;
                            transition: background-color 0.3s liner;
                            &:hover {
                                cursor: pointer;
                                background-color: #3167eb;
                                filter: brightness(130%);
                            }
                        }
                    }
                }

                .cart-bill-card {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

//CSS Shopping Cart Item
.cart-item-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--white-color);
    &:hover {
        background-color: rgba(22, 24, 35, 0.04);
        cursor: pointer;
    }

    .cart-item-outner-image {
        width: 15%;
        height: 90%;
        margin: 10px 0;

        .cart-item-image {
            width: 100%;
            height: 100%;
        }
    }

    .cart-item-info {
        width: 23%;
        padding: 0 15px;
        margin-left: 10px;

        .cart-item-name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            font-family: var(--font-special);
            color: var(--primary-color);
            padding-bottom: 10px;
            font-size: 1.6rem;
            line-height: 3.2rem;
        }

        .cart-item-size {
            color: #887f7f;
            padding-bottom: 10px;
            font-size: 1.5rem;
        }

        .cart-item-brand {
            color: #887f7f;
            font-size: 1.5rem;
        }
    }

    .cart-item-size {
        width: 17%;
        display: flex;
        justify-content: center;

        .cart-item-weight {
            border: none;
            padding: 10px 5px;
            border: 1px solid var(--border-color);
            border-radius: 7px;
            cursor: default;
            min-width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .cart-item-quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        margin-left: 20px;

        .cart-item-up,
        .cart-item-down {
            background-color: var(--white-color);
            border: none;
            border: 1px solid var(--border-color);
            height: 40px;
            width: 30px;
            font-size: 2rem;
            cursor: pointer;
            transition: background-color 0.3s liner;
            &:hover {
                cursor: pointer;
                background-color: var(--white-color);
                filter: brightness(90%);
            }
        }

        .cart-item-up {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        .cart-item-down {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        .cart-item-number {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 80px;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            padding-top: 5px;
            background-color: var(--white-color);
        }

        .minus-icon {
            font-size: 1.2rem;
        }

        .plus-icon {
            font-size: 1.2rem;
        }
    }

    .cart-item-price {
        width: 20%;
        text-align: center;
        padding-left: 10px;
    }

    .cart-item-action {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .cart-item-btn {
            background-color: var(--white-color);
            padding: 10px 14px;
            border-radius: 7px;
            border: 1px solid var(--border-color);
            font-weight: 500;
            font-size: 1.6rem;
            cursor: pointer;

            .heart-icon {
                color: #6d7688;
                &:hover,
                &.favourite {
                    color: red;
                }
            }
            &:hover {
                color: red;
            }
        }
    }
}

//CSS Shopping Cart Info User
.cart-info-user {
    width: 100%;
    gap: 20px;

    .cart-user {
        display: flex;
        flex-direction: column;
        padding: 25px 15px 25px;
        border: 1px solid var(--border-color);
        border-radius: 7px;

        .cart-user-heading {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--border-color);
            margin-bottom: 20px;
        }

        .cart-user-detail {
            display: flex;
            padding-bottom: 15px;

            .cart-user-title {
                width: 100px;
            }

            .cart-user-result {
                display: flex;
                width: 100%;
                margin-left: 10px;
            }
        }

        .cart-user-detail-edit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;

            .cart-user-input,
            .cart-user-input-disable {
                padding: 5px;
                margin-top: -5px;
                border-radius: 7px;
                border: 1px solid var(--border-color);
                height: 40px;
                font-size: 1.4rem;
            }

            .cart-user-input-disable:hover {
                cursor: not-allowed;
            }
        }

        .cart-user-btn {
            background-color: #3167eb;
            color: var(--white-color);
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 7px;
            transition: background-color 0.3s liner;
            &:hover {
                cursor: pointer;
                background-color: #3167eb;
                filter: brightness(130%);
            }
        }
    }
}

@media (max-width: 1620px) {
    .cart-wrapper {
        display: flex;
        margin: 20px 0 !important;

        .cart-info-product {
            display: flex;
            flex-direction: column;
            width: 71% !important;
        }

        .cart-info-pay {
            width: 29% !important;
        }
    }
}
