.filter-practice-nodrop {
    padding: 5px 0;
    font-size: 1.6rem;
    font-family: var(--font-family-global);
    line-height: 28px;
    .filter-link {
        text-decoration: none;
        color: var(--black-color);
        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}
