@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slider-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;

    .slider-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        .slider-outner-image {
            width: 100%;
            height: 100%;

            .slider-image {
                width: 100%;
                min-height: 800px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.6;
            }
        }

        .slider-content {
            position: absolute;
            top: 410px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .slider-heading {
                color: white;
                font-family: var(--font-special);
                font-size: 5.8rem;
                margin-bottom: 10px;
                letter-spacing: 0.29rem;
            }

            .slider-text {
                color: #f4b323;
                text-align: center;
                font-size: 4rem;
                border-bottom: 1px solid var(--primary-color);
                border-top: 1px solid var(--primary-color);
                padding: 5px 0;
                margin: 0 10px 20px;
                letter-spacing: 0.4rem;
                font-weight: 400;
            }

            .slider-discount {
                color: var(--second-color);
                font-size: 2.6rem;
                margin-bottom: 10px;
                letter-spacing: 0.26rem;

                .slider-coupon {
                    margin-left: 10px;
                    color: var(--white-color);
                    font-weight: 500;
                }
            }
        }
    }

    .slider-directional {
        position: absolute;
        width: 100%;
        height: 40px;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        .slider-back {
            width: 40px;
            height: 40px;
            border: 2px solid var(--primary-color);
            border-radius: 50%;
            background-color: transparent;
            position: relative;
            &::before {
                content: '';
                border-bottom: 1px solid var(--white-color);
                border-left: 1px solid var(--white-color);
                position: absolute;
                width: 11px;
                height: 11px;
                top: 50%;
                left: calc(50% + 2px);
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        .slider-next {
            position: relative;
            width: 40px;
            height: 40px;
            border: 2px solid var(--primary-color);
            border-radius: 50%;
            background-color: transparent;
            transition: all 0.3s linear;
            &::before {
                content: '';
                border-top: 1px solid var(--white-color);
                border-right: 1px solid var(--white-color);
                position: absolute;
                width: 11px;
                height: 11px;
                top: 50%;
                left: calc(50% - 2px);
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .slider-back:hover,
        .slider-next:hover {
            background-color: var(--second-color);
            border-color: var(--second-color);
            cursor: pointer;
        }

        .slider-back:hover::before,
        .slider-next:hover::before {
            border-color: var(--black-color);
        }
    }
}
