//CSS Category Product
.category-container {
    width: 100%;
    height: 800px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .category-wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        gap: 40px;
    }

    .category-item {
        width: calc(100% / 3);
    }
}

//CSS Category Item
.category-item-container {
    position: relative;
    width: 100%;
    height: 100%;
    &:hover .category-item-overlay {
        width: 100%;
        opacity: 0.8;
    }
    &:hover .category-item-image {
        scale: 1.2;
    }
    &:hover .category-item-main {
        opacity: 1;
    }

    .category-item-outner-img {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .category-item-image {
            width: 100%;
            height: 100%;
            transition: all 0.3s linear;
        }
    }

    .category-item-overlay {
        position: absolute;
        width: 20%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--black-color);
        opacity: 0;
        transition: all 0.3s linear;
        z-index: 1;
    }

    .category-item-main {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white-color);
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        .category-item-heading {
            font-family: var(--font-special);
            margin-bottom: 15px;
            font-size: 2.4rem;
            letter-spacing: 0.12rem;
            line-height: 2.7rem;
        }

        .category-item-text {
            color: var(--second-color);
            margin-bottom: 15px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.7rem;
        }

        .category-item-btn{
            width: 200px;
        }
    }
}

.category-item.item-1{
    &:hover .category-item-overlay {
        width: 100%;
        opacity: 0.8;
    }

    .category-item-overlay {
        position: absolute;
        width: 10%;
        height: 100%;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        background-color: var(--black-color);
        opacity: 0;
        transition: all 0.3s linear;
        z-index: 1;
    }
}

.category-item.item-3{
    &:hover .category-item-overlay {
        width: 100%;
        opacity: 0.8;
    }
    
    .category-item-overlay {
        position: absolute;
        width: 10%;
        height: 100%;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        background-color: var(--black-color);
        opacity: 0;
        transition: all 0.3s linear;
        z-index: 1;
    }
}

@media (max-width: 1450px) {
    .category-container {
        height: 600px;
    }
}
@media (min-width: 1451px) and (max-width: 1700px) {
    .category-container {
        height: 700px;
    }
}