.nav-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-wrapper {
    width: 100%;
    height: 70px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;

    .nav-outner {
        width: 80%;
        display: flex;
        justify-content: space-between;

        .nav-list-left,
        .nav-list-right {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            .nav-item-left {
                display: inline-block;
                color: var(--white-color);
                margin-right: 10px;
                padding: 15px;
            }

            .nav-item-right {
                color: var(--white-color);
                padding: 0 15px;
            }

            .nav-item-link-cart {
                color: var(--white-color);
                background-color: var(--black-color);
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 2rem;
                &:hover {
                    color: var(--second-color);
                    cursor: pointer;
                }
                &:hover .nav-cart-icon::before {
                    color: var(--second-color);
                    border-color: var(--second-color);
                }
                .nav-cart-icon {
                    position: relative;
                    &::before {
                        content: attr(data-count);
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border: 1px solid var(--white-color);
                        border-radius: 50%;
                        top: -35px;
                        right: -72%;
                        color: var(--white-color);
                        font-size: 1.1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 1px;
                    }
                }
            }

            .nav-item-link {
                color: var(--white-color);
                position: relative;
                &:hover {
                    color: var(--second-color);
                    cursor: pointer;
                }
                &:hover .nav-cart-icon::before {
                    color: var(--second-color);
                    border-color: var(--second-color);
                }
                .nav-item-search {
                    color: var(--white-color);
                    position: relative;
                    border-radius: 15px;
                    background-color: transparent;
                    border: 2px solid var(--white-color);
                    padding: 7px;
                    position: relative;
                    width: 200px;
                }
                .nav-item-outner-icon {
                    position: absolute;
                    top: -3px;
                    right: 10px;
                    margin-left: 5px;
                    .nav-item-icon {
                        display: block;
                        color: var(--white-color);
                        &:hover {
                            color: var(--second-color);
                            cursor: pointer;
                        }
                    }
                }

                .nav-user-icon {
                    font-size: 2rem;
                    margin-left: 5px;
                }

                .nav-item-check:checked ~ .nav-item-search {
                    transition: all 0.3s linear;
                    display: block;
                    color: white;
                }
                .nav-item-check:checked ~ .outner {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                }
            }

            .nav-item-name{
                color: var(--white-color);
                &:hover{
                    color: var(--second-color);
                }
            }

            .nav-item-link.active {
                color: var(--second-color);
            }
        }
    }
}

//Tippy Cart 
.add-cart {
    width: 700px;
    height: 100%;
    
}

//Tippy Menu User
.menu-user{
    width: 170px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 7px;
}

//Tippy Menu Page
.menu-page{
    width: 130px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 7px;
}