.nav-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-wrapper {
    width: 100%;
    height: 70px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;

    .nav-outner {
        width: 79%;
        display: flex;
        justify-content: space-between;

        .nav-list-left,
        .nav-list-right {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            .nav-item-left {
                display: inline-block;
                color: var(--white-color);
                margin-right: 15px;
                padding: 15px;
            }

            .nav-item-right {
                display: inline-block;
                color: var(--white-color);
                padding: 15px;
            }

            .nav-item-link {
                color: var(--white-color);
                position: relative;
                &:hover {
                    color: var(--second-color);
                    cursor: pointer;
                }
                &:hover .nav-cart-icon::before {
                    color: var(--second-color);
                    border-color: var(--second-color);
                }
                .nav-item-search {
                    display: none;
                    position: relative;
                    width: 250px;
                    height: 35px;
                    border-radius: 15px;
                    background-color: transparent;
                    border: 2px solid var(--white-color);
                }
                .outner {
                    .nav-item-icon {
                        display: block;
                        color: var(--white-color);
                        &:hover {
                            color: var(--second-color);
                            cursor: pointer;
                        }
                    }
                }

                .nav-item-check:checked ~ .nav-item-search {
                    transition: all 0.3s linear;
                    display: block;
                    color: white;
                }
                .nav-item-check:checked ~ .outner {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                }

                .nav-cart-icon {
                    position: relative;
                    &::before {
                        content: attr(data-count);
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border: 1px solid var(--white-color);
                        border-radius: 50%;
                        top: -30px;
                        right: -80%;
                        color: var(--white-color);
                        font-size: 1.1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 1px;
                    }
                }
            }
            .nav-item-link.active{
                color: var(--second-color);
            }
        }   
    }
}

