.detail-contairner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../../../assets//images/back_ground_image_1.webp);
    background-color: transparent;
    .detail-evaluate {
        width: 80%;
        height: 10px;
        min-height: 2100px;
        margin: 20px 0;
        display: flex;
        .detail-form {
            width: 70%;
            display: flex;
            flex-direction: column;
           
        }
    }
}
