.detail-contairner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../../../assets//images/back_ground_image_1.webp);
    background-color: transparent;
    .detail-product-item{
        display: flex;
        justify-content: space-between;
    }
}
