.category-list {
    width: 25%;
    margin-right: 20px;
    .silder {
        margin-top: 12px;
        img {
            max-height: 258px;
        }
    }
    .category-filter-panel {
        margin: 30px 0;

        .filter {
            list-style-type: none;
            .filter-practice-nodrop {
                padding: 5px 0;
                font-size: 1.6rem;
                font-family: var(--font-family-global);
                line-height: 28px;
                .filter-link {
                    text-decoration: none;
                    color: var(--black-color);
                    &:hover {
                        cursor: pointer;
                        color: var(--primary-color);
                    }
                }
            }

            .filter-practice {
                padding: 5px 0;
                position: relative;
                font-size: 1.6rem;
                font-family: var(--font-family-global);
                line-height: 28px;

                .dropdown {
                    margin-left: 30px;

                    li {
                        list-style-type: disc;
                        line-height: 27px;
                        font-size: 1.4rem;
                        font-family: var(--font-family-global);
                    }
                }
                .filter-show {
                    display: none;
                }
                .filter-link {
                    text-decoration: none;
                    color: var(--black-color);
                    &:hover {
                        cursor: pointer;
                        color: var(--primary-color);
                    }
                }
                .filter-link::after {
                    content: '+';
                    position: absolute;
                    left: 90%;
                    top: 0;
                    font-size: 2rem;
                    width: 30px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }

    .slider-bestseller {
        margin: 0 auto;
        width: 100;
    }
}
