//CSS Benefit Index
.benefit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    .benefit-outner-icon {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80px;
        height: 80px;
        background-color: var(--primary-color);
        border-radius: 50%;
        transition: all 0.3s linear;
        &:hover {
            background-color: var(--second-color);
            cursor: pointer;
        }

        .benefit-icon {
            position: absolute;
            top: 53%;
            left: 51%;
            transform: translate(-50%, -50%);
            color: var(--white-color);
            scale: 1;
        }
    }

    .benefit-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 70px 30px 30px;
        border: 1px solid #e4e4e4;
        border-radius: 15px;
        width: 95%;

        .benefit-title {
            color: var(--primary-color);
            margin-bottom: 10px;
            font-size: 2rem;
            font-family: var(--font-special);
            letter-spacing: 0.1rem;
            line-height: 2.2rem;
            transition: all 0.3 linear;
            &:hover {
                color: var(--second-color);
                cursor: pointer;
            }
        }

        .benefit-description {
            color: var(--text-color);
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
    }
}

//CSS Benefit Item
.wrapper {
    padding: 100px 0 80px 0;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    height: 450px;

    .benefit {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 80%;
        height: 195px;
        margin: 20px 0 20px;
    }
}
