.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .profile-wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        margin: 50px 0;

        .profile-info-user {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 4 px;

            .profile-info-name {
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
        }

        .profile-info-outner-title {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .profile-info-title {
                width: 100%;
                height: 50px;
                display: flex;
                border-bottom: none;
                padding: 10px;
                align-items: center;
                cursor: pointer;
                transition: all linear 0.1s;
                &:hover,
                &.active {
                    background-color: var(--second-color);
                    border-color: var(--second-color);
                }
            }

            .profile-icon {
                color: var(--primary-color);
                margin-bottom: 3px;
                margin-right: 20px;
                font-size: 1.8rem;
            }
        }
    }
}

//CSS Acount Information
.profile-detail-user {
    width: 80%;
    height: 100%;
    margin-left: 40px;

    .profile-detail-container {
        width: 100%;
        height: 100%;
        display: flex;

        .profile-detail-wrapper {
            width: 100%;
            height: 100%;

            .profile-detail-info {
                display: flex;
                width: 90%;
                margin-top: 10px;

                .profile-detail-outner-image {
                    width: 200px;
                    height: 100%;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: var(--white-color);
                        border: 1px solid var(--border-color);
                        bottom: 8px;
                        right: 8px;
                    }

                    .profile-avatar-edit {
                        position: absolute;
                        bottom: 16px;
                        right: 15px;
                        cursor: pointer;
                    }

                    .profile-detail-image {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }

            .profile-detail-wrap {
                width: 100%;

                .profile-detail-outner-input {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 10px;

                    .profile-detail-input {
                        width: 100%;
                        height: 40px;
                        border-radius: 3px;
                        border: none;
                        border: 1px solid var(--border-color);
                        margin: 10px 0;
                        padding: 10px;
                        font-size: 1.6rem;
                        outline: none;
                        &:focus {
                            border: 1px solid var(--primary-color);
                        }
                    }
                }
            }

            .profile-detail-outner-level {
                width: 100%;
                display: flex;
                flex-direction: column;

                .profile-detail-input {
                    width: 100%;
                    height: 40px;
                    border-radius: 3px;
                    border: none;
                    border: 1px solid var(--border-color);
                    padding: 10px;
                    font-size: 1.6rem;
                    &:focus {
                        border: 1px solid var(--primary-color);
                        outline: none;
                    }
                }
            }

            .profile-detail-btn {
                width: 90%;
                display: flex;
                justify-content: end;
                padding-top: 20px;
                margin-left: 15px;
            }

            .profile-detail-main {
                min-width: 390px;
                height: 100%;
                margin-top: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    min-height: 338px;
                    width: 1px;
                    top: 10px;
                    left: 10px;
                    background-color: var(--border-color);
                }

                .profile-detail-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 30px;
                    margin-bottom: 19px;
                    flex-wrap: wrap;

                    .profile-detail-item-left {
                        display: flex;
                        
                        align-items: center;
                        height: 40px;

                        .profile-detail-icon {
                            color: var(--primary-color);
                            margin-right: 10px;
                            line-height: 4rem;
                        }

                        .profile-detail-title {
                            margin-right: 5px;
                            width: 60px;
                            line-height: 3rem;
                        }

                        .profile-detail-dots {
                            margin-right: 10px;
                        }

                        .profile-detail-change {
                            padding: 10px;
                            font-size: 1.6rem;
                            width: 250px;
                            height: 40px;
                            border-radius: 3px;
                            border: none;
                            border: 1px solid var(--border-color);
                            &:focus {
                                border-color: var(--primary-color);
                            }
                        }

                    }
                }

                .profile-detail-outner-pass {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    padding: 0 30px;

                    .profile-detail-pass {
                        display: flex;
                        flex-direction: column;
                        width: 70%;

                        .profile-detail-input {
                            height: 30px;
                            margin-top: 10px;
                            border-radius: 3px;
                            border: none;
                            border: 1px solid var(--border-color);
                            margin: 10px 0;
                            padding: 10px;
                            font-size: 1.6rem;
                            outline: none;
                            &:focus {
                                border: 1px solid var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

.profile-detail-heading {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    font-size: 3rem;
    color: var(--primary-color);
}

//CSS Profile Notification - Discount Code
.profile-noti {
    width: 53%;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #f6c2bf;
    border-radius: 7px;
    margin: 5px 0;
    padding: 15px;
    transition: background-color 0.3s liner;

    .profile-icon {
        color: #f16262;
        margin-right: 10px;
    }

    .profile-text {
        color: #cc3636;
    }
}

.profile-btn {
    margin-top: 20px;
}

//CSS Profile Help
.profile-help {
    display: flex;
    flex-direction: column;
    width: 70%;

    .profile-help-heading {
        margin: 20px 0 10px;
    }

    .profile-help-textarea {
        border: none;
        border: 1px solid var(--border-color);
        border-radius: 7px;
        padding: 10px;
        font-size: 1.8rem;
        margin-top: 25px;
        &:focus {
            border-color: var(--primary-color);
            outline: none;
        }
    }
}

.profile-help-btn {
    display: flex;
    margin-top: 20px;
    justify-content: end;
    width: 70%;
}
