.detail-comment {
    display: flex;
    margin: 10px 0 20px 0;
    .customer {
        margin: 0 10px;
        height: 100px;
        width: 30%;
        border-right: 2px solid var(--gray-color);
        border-bottom: 2px solid var(--gray-color);
        .customer-avatar {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            span {
                margin-left: 10px;
            }
        }
        .history-comment {
            position: relative;
            display: flex;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
            }
            span {
                margin-left: 10px;
                font-size: 1.2rem;
            }
        }
        .history-comment::after {
            position: absolute;
            top: 22px;
            content: '';
            width: 100%;
            border: 1px solid var(--gray-color);
            text-align: center;
        }
        .history-like {
            margin-top: 5px;
            display: flex;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
            }
            span {
                margin-left: 10px;
                font-size: 1.2rem;
            }
        }
    }
    .comment {
        width: 70%;
        height: 100px;
        .comment-star {
            display: flex;
            align-items: center;
            span {
                font-size: 1.2rem;
                margin-left: 10px;
                font-weight: 500;
                font-family: var(--font-family-global);
            }
        }
        .comment-pay {
            display: flex;
            align-items: center;
            margin: 10px 0;
            img {
                width: 15px;
                height: 15px;
            }
            span {
                font-size: 1rem;
                margin-left: 5px;
                color: var(--primary-color);
            }
        }
        .comment-content {
            font-size: 1.4rem;
            margin: 10px 0;
        }
        .user-commet {
            margin-top: 20px;
            input {
                padding: 10px;
                width: 100%;
            }
        }
    }
}