@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&family=Spicy+Rice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Spicy Rice', serif;
}

body {
    font-size: 1.6rem;
}
input{
    outline: none;
}
a{
    text-decoration: none;
    padding: 0;
}