@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&family=Spicy+Rice&display=swap');

:root {
    --primary-color: #9f4103;
    --white-color: #fff;
    --gray-color: rgb(181, 178, 178);
    --second-color: #f4b323;
    --text-color: #292929;
    --black-color: #000;
    --brown-color: #91653d;
    --border-color: #c4c4c4;
    --font-special: 'Spicy Rice', serif;
    --font-family-global: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    padding: 0;
}

// .slick-slide {
//     padding: 0 10px;
// }




