.form {
    margin: 0 10px;
    .title {
        margin-bottom: 30px;
        .input {
            padding: 10px 20px;
            width: 550px;
            border-radius: 20px;
            border: 1px solid gray;
        }
    }
    .message {
        margin-bottom: 20px;
        .input {
            padding: 10px 20px;
            max-width: 550px;
            min-width: 550px;
            min-height: 200px;
            max-height: 500px;
            border-radius: 20px;
            border: 1px solid gray;
        }
    }
    .btn {
        button {
            font-size: 2rem;
            padding: 10px 20px;
            width: 300px;
            background-color: white;
            border: 2px solid #b34d22;
            border-radius: 20px;
            &:hover {
                background-color: #f4b323;
            }
        }
    }
}
