.product-list {
    width: 75%;
    overflow: hidden;

    .product-filter {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        label {
            margin-right: 5px;
        }

        .filter {
            position: relative;
            .filter-search {
                padding: 10px 30px;
                border: 2px solid var(--primary-color);
                border-radius: 20px;
                background-color: #f2f2f2;
                display: flex;
                align-items: center;
                span {
                    margin-right: 5px;
                    font-size: 1.6rem;
                }
            }

            .filter-drop {
                position: absolute;
                z-index: 9;
                background-color: #f2f2f2;
                ul {
                    list-style-type: none;
                    li {
                        padding: 10px 10px;
                        font-size: 1.6rem;
                        &:hover {
                            color: white;
                            background-color: #3498db;
                        }
                    }
                }
            }
        }
    }

    .current {
        min-height: 800px;

        .page-current {
            .product-item {
                display: flex;
                margin: 30px 0 40px 0;
                justify-content: space-between;
                flex-wrap: wrap;
                gap:32px 0px;
                .grid-item {
                    width: calc(100% / 4.2);
                    min-width: 200px;
                }
            }
        }
    }

    .page-change {
        margin-bottom: 10px;
        .page-practive {
            display: flex;
            list-style-type: none;
            justify-content: center;
            li {
                padding: 0 10px;
                border-radius: 50%;
                line-height: 32px;
                min-height: 35px;
                min-width: 35px;
                font-size: 1.6rem;
                border: 2px solid var(--primary-color);
                margin: 2px;
                text-align: center;
                &:hover {
                    background-color: var(--second-color);
                    border: 2px solid var(--second-color);
                }
            }
            .left,
            .right {
                padding: 0 10px;
                font-size: 2.6rem;
                border: 2px solid var(--primary-color);
                border-radius: 50%;
                line-height: 28px;
                min-height: 35px;
                min-width: 35px;
                text-align: center;
            }
            .choose {
                background-color: var(--second-color);
                border: 2px solid var(--second-color);
            }
        }
    }
}
