.discription-content {
    padding: 10px;
    .content {
        display: flex;
        margin-bottom: 10px;
        img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            margin-top: 5px;
        }
        span {
            line-height: 25px;
            font-family: var(--font-family-global);
        }
    }

    h4 {
        font-family: var(--font-family-global);
        margin: 10px 0;
    }
}
