.category-container {
    display: flex;
    width: 100%;
    height: 100%;

    .category {
        margin: 0 auto;
        padding: 30px 0;
        width: 80%;
        display: flex;
        gap: 20px;
    }
}

//CSS Category List
.category-list {
    width: 20%;
    height: 100%;

    .category-title {
        padding: 10px;
        border-left: 5px solid var(--primary-color);
        background-color: #e9e9e9;

        .category-heading {
            font-weight: 400;
            font-size: 1.8rem;
            color: var(--black-color);
            font-family: var(--font-special);
            letter-spacing: 0.1rem;
        }
    }

    .category-silder {
        margin-top: 20px;

        img {
            max-height: 258px;
        }
    }

    .category-filter {
        padding: 13px 0 35px;
        cursor: pointer;

        .filter-link {
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            transition: all 0.3s linear;
            font-size: 1.7rem;
            font-weight: 500;
            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
        .active {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

//CSS Product List
.product-list {
    width: 80%;

    .product-filter-search {
        width: 100%;
        height: 80px;
        background-color: #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .product-heading {
            font-size: 2rem;
            font-weight: 500;
            font-family: var(--font-special);
        }
        .product-search {
            display: flex;
            align-items: center;
            margin-left: 12px;
            .product-item-search {
                color: var(--black-color);
                background-color: rgb(255, 255, 255);
                border: 2px solid var(--primary-color);
                padding: 10px 22px 10px 7px;
                width: 250px;
                justify-self: flex-start;
                margin-left: 12px;
            }
            .product-item-clear {
                margin-left: -20px;
                margin-top: 4px;
            }
        }

        .product-filter {
            display: flex;
            align-items: center;

            .product-filter-btn {
                position: relative;

                .filter-drop {
                    position: absolute;
                    width: 100%;
                    top: calc(100% + 5px);
                    left: 1%;
                    z-index: 10;
                    box-shadow: 0px 0px 13px #1d1d1d;
                    li {
                        list-style-type: none;
                    }
                    .filter-item {
                        height: 40px;
                        background-color: #fafafa;
                        padding: 10px;
                        border-bottom: 1px solid var(--border-color);
                        cursor: pointer;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    .page-current {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;

        .product-item {
            width: calc(100% / 4);
            max-height: 500px;
            margin-bottom: 15px;
        }
    }

    .page-change {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .page-practive {
            display: flex;
            list-style-type: none;
            justify-content: center;
            li {
                padding: 0 10px;
                border-radius: 50%;
                line-height: 32px;
                min-height: 35px;
                min-width: 35px;
                font-size: 1.6rem;
                border: 2px solid var(--primary-color);
                margin: 2px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: var(--second-color);
                    border: 2px solid var(--second-color);
                }
            }
            .left,
            .right {
                padding: 0 10px;
                font-size: 2.6rem;
                border: 2px solid var(--primary-color);
                border-radius: 50%;
                line-height: 28px;
                min-height: 35px;
                min-width: 35px;
                text-align: center;
            }
            .choose {
                background-color: var(--second-color);
                border: 2px solid var(--second-color);
            }
        }
    }
}
