.contact-form {
    margin: 0 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-title {
        margin-bottom: 30px;
        min-width: 500px;
        .title-input {
            padding: 10px 20px;
            width: 100%;
            max-width: 500px;
            border-radius: 20px;
            border: 1px solid gray;
            font-family: var(--font-family-global);
        }
    }
    .form-message {
        min-width: 500px;
        margin-bottom: 20px;
        .title-input {
            padding: 10px 20px;
            width: 100%;
            max-width: 500px;
            min-height: 200px;
            max-height: 500px;
            border-radius: 20px;
            border: 1px solid gray;
        }
    }
    .form-btn {
        button {
            font-size: 2rem;
            padding: 10px 20px;
            width: 300px;
            background-color: white;
            border: 2px solid var(--primary-color);
            border-radius: 20px;
            font-family: var(--font-family-global);
            &:hover {
                background-color: var(--second-color);
            }
        }
    }
}
