.contactus-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .contactus-location {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}
