@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.container {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 80%;
        height: 100%;
        padding: 90px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .product-home-show {
            .product-home-container {
                width: 100%;
                height: 100%;
                margin-top: 30px;
                position: relative;

                .product-home-wrapper {
                    max-width: 1400px;
                    height: 100%;
                    margin-bottom: 25px;
                    overflow: hidden;
                }
            }
        }
    }
}

.slider-directional {
    width: 100%;
    height: 40px;
    margin: 30px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .slider-back,
    .slider-next {
        border: 2px solid rgb(159, 65, 3);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        background-color: var(--white-color);
        transition: all linear 0.3s;
        &:hover {
            background-color: var(--second-color);
            border-color: var(--second-color);
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
    .slider-back::after {
        content: '';
        border-bottom: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        position: absolute;
        width: 11px;
        height: 11px;
        top: 50%;
        left: calc(50% + 2px);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .slider-next::after {
        content: '';
        border-right: 1px solid var(--text-color);
        border-top: 1px solid var(--text-color);
        position: absolute;
        width: 11px;
        height: 11px;
        top: 50%;
        left: calc(50% - 2px);
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@media (max-width: 1600px) {
    .product-home-wrapper {
        width: 1200px;
    }
}
@media (max-width: 1400px) {
    .product-home-wrapper {
        width: 1000px;
    }
}
