.contactus-content {
    display: flex;
    justify-content: space-between;
    width: 80%;

    .content-phone {
        width: 30%;
        min-width: 300px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        margin: 10px 0px;
        &:hover {
            border: 1px solid var(--second-color);
            .image {
                img {
                    background-color: var(--second-color);
                }
            }
        }

        .image {
            margin-bottom: 10px;
            img {
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                background-color: var(--primary-color);
            }
        }
        .content-content {
            h5 {
                font-size: 2.4rem;
                margin: 10px 0;
                color: var(--primary-color);
                font-family: var(--font-special);
                letter-spacing: 1.2px;
            }
            p {
                margin: 20px 0;
                font-size: 2rem;
                font-family: var(--font-family-global);

                b {
                    font-family: var(--font-family-global);
                }
            }
        }
    }
}
