.about-us-three {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    position: relative;
    height: 270px;
    z-index: 9;

    .three-image {
        width: 50%;
        position: relative;
        z-index: 9;
        padding: 30px 0 0 3px;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 99;
        }
    }
    .three-image::before {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: -30px;
        bottom: 0;
        content: '';
        background-color: var(--primary-color);
        width: 100%;
        background-color: var(--primary-color);
    }
    .three-dis {
        width: 50%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        h4 {
            color: var(--primary-color);
            font-family: var(--font-special);
            letter-spacing: 1.2px;
            font-size: 2.4rem;
            margin-bottom: 20px;
            line-height: 28px;
        }
        p {
            font-family: var(--font-family-global);
            line-height: 25px;
            font-size: 1.6rem;
            line-height: 28px;
        }
    }
}
