.about-us-first {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    min-height: 300px;

    .first-content {
        width: 50%;
        h4 {
            color: var(--primary-color);
            font-family: var(--font-special);
            letter-spacing: 1.2px;
            font-size: 2.2rem;
            margin-bottom: 20px;
            line-height: 30px;
        }
        p {
            margin-bottom: 30px;
            font-family: var(--font-family-global);
            line-height: 30px;
        }
        blockquote {
            font-family: var(--font-family-global);
            margin-left: 10px;
            position: relative;
            line-height: 30px;
        }
        blockquote::before {
            position: absolute;
            content: '';
            border: 1.4px solid var(--black-color);
            min-height: 150px;
            top: 0;
            left: -10px;
        }
    }
    .first-image {
        width: 50%;
        background-image: url(../../../../assets//images//premium_img_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-position: center;
    }
}
